<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
	</configSections>
    <securityCryptographyConfiguration>
        <hashProviders>
            <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                name="HashProvider" />
        </hashProviders>
        <symmetricCryptoProviders>
			<add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				protectedKeyFilename="Encryption.key" protectedKeyProtectionScope="CurrentUser"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
			    name="EncryptionProvider" />
		</symmetricCryptoProviders>
    </securityCryptographyConfiguration>
	<system.web>		
  </system.web>
  <appSettings>
    <add key="Deklarit.EnablePermissionBasedAuthorization" value="False" />
    <add key="Deklarit.ApplicationName" value="Raiderplan1" />
    <add key="Deklarit.ApplicationDescription" value="Raiderplan1" />
    <add key="Deklarit.AuthenticationProviderType" value="1" />
  </appSettings>  
</configuration>

